<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습26 GET 결과</h1>
    <br>
    <div>이름 <%= userInfo.name %></div>
    <div>성별 <%= userInfo.gender %></div>
    <div>생년월일 
        <span><%= userInfo.birthyear %>년</span>
        <span><%= userInfo.birthmonth %>월</span>
        <span><%= userInfo.birthdate %>일</span>
    </div>
    <div>관심사 <%= userInfo.like %></div>
    
</body>
</html>